@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: #263238 !important;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

button:focus,
input:focus {
  outline : 0;
  -moz-outline : 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

h1, h2, h3, a, p, span {
  color: white;
}

a:hover {
  cursor: pointer;
}

hr {
  border-color: rgba(255, 255, 255, 0.5);
}

img {
  user-drag: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
}

/*****************************************************/

#hidden-clipboard-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

.modal-header *,
.modal-body * {
  color: black !important;
}

.round {
  border-radius: 50%;
}

.tb {
  width: 300px;
  color: white;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: hsla(185, 100%, 62%, 0.2);
  text-align: center;
}

tb:focus {
  outline: none;
}

.tb::placeholder {
  color: hsla(0, 0%, 100%, 0.6);
}

span.tb {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #03A9F4;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.tb:focus ~ span {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.drop-down-btn {
  background-color: rgba(0, 0, 0, 0.15) !important;
  border: none !important;
  box-shadow: none !important;
  padding: 1px 6px;
}

.drop-down-btn:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.btn-bubble {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #1d252b;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

.btn-bubble::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #03A9F4;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.35s ease-in-out;
}

.btn-bubble:hover {
  cursor: pointer;
  color: #161616;
}

.btn-bubble:hover::before {
  transform: translate(-50%, -50%) scale(19);
}

.btn-bubble:disabled {
  background-color: rgb(71, 71, 71);
}

.btn-bubble:disabled::before {
  display: none;
}

.btn-bubble:disabled:hover {
  cursor: not-allowed;
  color: white;
}

.btn-slide {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #455A64;
}

.btn-slide::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fc2f70;
  transform-origin: center left;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.btn-slide:hover {
  cursor: pointer;
}

.btn-slide:hover::before {
  transform-origin: center right;
  transform: scaleX(1);
}

.ctrl-btns {
  position: fixed;
  bottom: 60px;
  right: 30px;
  font-size: 18px;
  z-index: 5;
}

.btn-new {
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.233);
  margin-left: 30px;
  height: 70px;
  width: 70px;
}

.btn-new::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url('/assets/add.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-cancel::before {
  background-color: rgb(229,57,53);
}

.btn-save::before {
  background-color: rgb(124,179,66);
}

.shadow {
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.233);
}

.bg {
  background-color: rgba(55, 71, 79, 0.726);
  border-radius: 5px;
  padding: 20px 20px;
}

.perk {
  padding: 5px;
  border-radius: 50%;
}

.perks {
  background-color: rgba(97, 97, 97, 0.25);
}

.perk-axe {
  background-color: rgba(255, 193, 7, 0.3);
}

.perk-circle {
  background-color: rgba(170, 71, 188, 0.3);
}

.perk-diamond {
  background-color: rgba(63, 81, 181, 0.3);
}

.perk-heart {
  background-color: rgba(76, 175, 79, 0.3);
}

.perk-shield {
  background-color: rgba(244, 67, 54, 0.3)
}

.perk-time {
  background-color: rgba(255, 235, 59, 0.3);
}

.tree-domination {
  background-color: rgba(211, 47, 47, 0.25);
}

.tree-inspiration {
  background-color: rgba(0, 150, 167, 0.25);
}

.tree-precision {
  background-color: rgba(251, 193, 45, 0.25);
}

.tree-sorcery {
  background-color: rgba(2, 137, 209, 0.25);
}

.tree-resolve {
  background-color: rgba(104, 159, 56, 0.25);
}

.underlined {
  text-decoration: underline !important;
}

.text-embed {
  background-color: rgb(33, 33, 33);
  padding: 4px 6px;
}

.w-fit-content {
  width: fit-content;
}

.hover-detector {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;

  opacity: 0.3;

  height: 15vh;
}

.hover-detector.top {
  background-image: linear-gradient(to bottom, black, transparent);
  top: 0;
}

.hover-detector.bottom {
  background-image: linear-gradient(to top, black, transparent);
  bottom: 0;
}

.chosen {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.6);
}